{% extends "photogram/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'photogram/follow.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ userProfile.profile.image.url }}">
            <div class="media-body profile-info-container">
                <div>
                    <h2 class="account-heading" id="username">{{ userProfile.username }}</h2>
                    <p class="text-secondary">{{ userProfile.email }}</p>
                </div>
                <div>
                    <p class="text-secondary">Followers: {{ followers }}</p>
                    <p class="text-secondary">Following: {{ following }}</p>
                    {% if user.is_authenticated %}
                        {% if user.username|stringformat:"s" == userProfile.username|stringformat:"s" %}
                            <a class="mr-2" href="{% url 'profileEdit' %}">Edit</a>

                        {% else %}
                            <div>
                                <button class="btn btn-sm btn-outline-primary" id="followButton"></button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="profile-posts-grid">
        {% for post in posts %}
        <article class="media content-section post-container-profile">

            <div class="post-header">
                    <a href="{% url 'profile' post.user.username %}"><img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}"></a>
                    <a class="mr-2 post-username" href="{% url 'profile' post.user.username %}">{{ post.user }}</a>
            </div>

            <div class="post-image">
                    <img class="article-img post-image" src="{{ post.image.url }}">
                    <small class="text-muted">{{ post.timestamp|date:"F d, Y" }}</small>
                    <p class="article-content post-caption">{{ post.caption }}</p>
                    <div class="like-comment-container">
                            {% csrf_token %}
                            <div class="likeNumber" data-postid="{{ post.id }}">{{ post.likeCount }}</div>
                            <button class="likeButton" data-postid="{{ post.id }}"> &#10084; </button>
                            <button class="showComments" data-postid="{{ post.id }}"> Comments </button>
                    </div>
            </div>

            <div class="comments-container" data-postid="{{ post.id }}"></div>

            <div class="comment-submit" data-postid="{{ post.id }}">
                    <form action="/comment/{{ post.id }}" method="POST">
                            {% csrf_token %}
                            <label for="comment">Comment: </label>
                            <input id="comment" type="text" name="comment" data-postid="{{ post.id }}">
                            <button id="submitComment" data-postid="{{ post.id }}">Submit</button>
                    </form>
            </div>
        </article>
    {% endfor %} 
    </div>
{% endblock content %}  